[submodule "enterprise-integration-pattern-shapes-for-gliffy"]
	path = enterprise-integration-pattern-shapes-for-gliffy
	url = https://github.com/codeclou/enterprise-integration-pattern-shapes-for-gliffy.git
